<% for(let post of posts){%>
<p>
    <li style="border: 1px solid black ; text-align:  center; list-style: none;">
        <h3>
            <%= post.content%>
            <%if(locals.user && locals.user.id == post.user.id){%>
            <a href="/post/delete/<%=post.id%>">Delete</a>
            <%}%>
        </h3>
        <h4><%= post.user.name%></h4>
        <%if(locals.user){%>
            <form method="POST" action = "/comment/create">
                <input type = "text" name="content">
                <input type="submit" value="Comment">
                <input type = "text" value="<%=post._id%>" hidden name="post">
            </form>
        <%}%>
        <div>
            <% for( comment of post.comment) { %>
                <p>
                    <%= comment.content%>
                    =>
                    <small><%= comment.user.name%></small>
                    ||
                    <%if(locals.user && locals.user.id == comment.user.id){%>
                        <small><a href="/comment/delete/<%= comment.id%>">delete</a></small>
                    <%}%>
                </p>
            <%}%>
        </div>
    </li>
</p>
<%}%>