<link rel="stylesheet" href="/css/post-style.css">
<% for(let post of posts){%>
    <li class="post-item" id="<%=post._id%>">
        <h3>
            <%= post.content%>
            <%if(locals.user && locals.user.id == post.user.id){%>
            <a class="delete-post" id="delete-<%=post.id%>" href="/post/delete/<%=post.id%>">Delete</a>
            <%}%>
        </h3>
        <h4><%= post.user.name%></h4>
        <%if(locals.user){%>
            <form method="POST" action = "/comment/create" id="comments-form-<%=post.id%>" >
                <input type = "text" name="content" id="comment-input">
                <input type="submit" value="Comment">
                <input type = "text" value="<%=post._id%>" hidden name="post">
            </form>
        <%}%>
        <div id="comments">
            <% for( comment of post.comment) { %>
                <p id="<%=comment._id%>">
                    <%- include('_comment')%>
                </p>
            <%}%>
        </div>
    </li>
<%}%>