<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        
    </head>

    <body>
        <link href="/css/layout.css" crossorigin="anonymous">
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>