<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user_details.avatar%>" alt="<%= user_details.name%>>" width="100px">
<p><%=user_details.name %></p>
<p><%=user_details.email %></p>

<% if (locals.user.id == user_details.id){%>
    <div class="update-profile">
        <form method="POST" action="/users/update/<%=user_details._id%>" enctype="multipart/form-data">
            <input type="text" name="name" value="<%=user_details.name%>" required>
            <input type="email" name="email" value="<%=user_details.email%>" required>
            <input type="file" name="avatar">
            <input type="submit" value="Update now">
        </form>
    </div>
<%}%>
